* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: -1px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: rgb(0, 0, 0);

}

.logo {
    color: rgb(204, 0, 0);
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.logo img {
    height: 30px;
    margin-right: 5px;
    align-content: center;
    display: flex;
}

.box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    padding-top: 5px;
    margin: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

header {
    height: 80px;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    padding: 16px;
    color: black;
    font-size: .5em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.ensancha1 {
    flex-grow: 1;
}

.ensancha0 {
    flex-grow: 0;
}

.arrow img {
    width: 0.8em;
    height: 0.8em;
    display: flex;
    filter: invert(0.4)
}

.arrow {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 0.8em;
}

nav a {
    font-weight: 600;
    margin-left: 1px;
    display: flex;
    align-items: center;
}

.nav-link {
    padding-right: 0.8em;
    padding-left: 0.8em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    background-color: transparent;
    text-align: left;
    /* display: block; */
    border-radius: 8px;
    box-sizing: border-box;
    /* position: relative; */
    align-items: center;
    /* margin-right: 1em; */
}

.searchbar img {
    margin-left: 10px;
    height: 16px;
    width: 16px;
    margin-right: 5px;
    display: flex;
    filter: invert(0.4)
}

.searchbar {
    height: 3em;
    background-color: transparent;
    border-color: #cdcdcd;
    border-style: solid;
    border-radius: 24px;
    border-width: 2px;
    display: flex;
    /* flex-direction: row; */
    text-decoration: none;
    /* position: relative; */
    align-items: center;
    /* max-width: 55em; */
}

.searchbar input {
    background-color: transparent;
    border: none;
    color: rgb(51, 51, 51);
    font-size: 1em;
    font-weight: normal;
    /* height: 500px; */
    outline: none;
    padding: 0;
    width: 100%;
    vertical-align: middle;
    margin: 0;
    overflow: visible;
    text-align: start;
    align-items: flex-start;
}

.redbut-link {
    background-color: rgb(230, 0, 35);
    max-height: 3em;
    /* width: 100%; */
    border-radius: 24px;
    text-align: center;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-left: 1em;
}

.greybut-link {
    background-color: rgb(226, 226, 226);
    max-height: 3em;
    /* min-width: 3.75em; */
    border-radius: 24px;
    text-align: center;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-left: 0.5em;
}

.arrow:hover {
    background-color: rgb(233, 233, 233);
}

.nav-link:hover {
    background-color: rgb(233, 233, 233);
}

.redbut-link:hover {
    background-color: rgb(179, 3, 29);
}

.greybut-link:hover {
    background-color: rgb(190, 190, 190);
}

.content {
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
    /* background-color: yellowgreen; */
    min-width: 235px;
}

.titulo {
    align-items: center;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.title {
    color: black;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    display: block;
    justify-content: center;
    /* background-color: blueviolet; */
}

.grid1 {
    /* background-color: tomato; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-end;
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    justify-content: center;
    margin: 1em;
}

.galeria1 {
    background-color: white;

    color:white;
    text-align: left;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    
    min-width: 200px;
    max-width: 100%;
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    padding: 2em;
    border-radius: 0.5em;
    height: 258px;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
.galeria1 h2{
    font-size: 1em;
    font-weight: 500;
    text-shadow: 1px 1px 1px grey;
}


#box1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid1_1.jpg);
    background-size: cover;
}
#box2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid1_2.jpg);
    background-size: cover;
}
#box3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid1_3.jpg);
    background-size: cover;
}


#box1:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid1_1.jpg);
    background-size: cover;
}
#box2:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid1_2.jpg);
    background-size: cover;
}
#box3:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid1_3.jpg);
    background-size: cover;
}


.Title2 {
    color: black;
    font-size: 0.5em;
    font-weight: normal;
    text-align: center;
    display: block;
    justify-content: center;
    /* background-color: blueviolet; */
    margin-bottom: 2em;
}

.grid2 {
    /* background-color: tomato; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    /* border-color: black; */
    /* border-width: 2px; */
    /* border-style: solid; */
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
    align-content: center;
    margin-bottom: 1.5em;
}

.galeria2 {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    max-width: 100%;
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    padding: 16px;
    border-radius: 0.5em;
    height: 103px;
    margin: 0.1em;
}
.galeria2 h2{
    font-size: 0.75em;
    font-weight: 500;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px grey;
}


#box2-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Animales.jpg);
    background-size: cover;
}
#box2-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Arquitectura.jpg);
    background-size: cover;
}
#box2-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Arte.jpg);
    background-size: cover;
}
#box2-4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Belleza.jpg);
    background-size: cover;
}
#box2-5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Diseño.jpg);
    background-size: cover;
}
#box2-6{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Manualidades.jpg);
    background-size: cover;
}
#box2-7{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Educacion.jpg);
    background-size: cover;
}
#box2-8{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Electronica.jpg);
    background-size: cover;
}
#box2-9{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_PlanificacionEventos.jpg);
    background-size: cover;
}
#box2-10{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Finanzas.jpg);
    background-size: cover;
}
#box2-11{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_ComidaYBebida.jpg);
    background-size: cover;
}
#box2-12{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Vacaciones.jpg);
    background-size: cover;
}
#box2-13{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_DecoracionHogar.jpg);
    background-size: cover;
}
#box2-14{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Jardineria.jpg);
    background-size: cover;
}
#box2-15{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_ModaParaHombre.jpg);
    background-size: cover;
}
#box2-16{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Citas.jpg);
    background-size: cover;
}
#box2-17{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Tatuaje.jpg);
    background-size: cover;
}
#box2-18{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Viajes.jpg);
    background-size: cover;
}
#box2-19{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Vehiculos.jpg);
    background-size: cover;
}
#box2-20{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_Boda.jpg);
    background-size: cover;
}
#box2-21{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(imagenes/grid2_ModaParaMujere.jpg);
    background-size: cover;
}

#box2-1:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Animales.jpg);
    background-size: cover;
}
#box2-2:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Arquitectura.jpg);
    background-size: cover;
}
#box2-3:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Arte.jpg);
    background-size: cover;
}
#box2-4:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Belleza.jpg);
    background-size: cover;
}
#box2-5:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Diseño.jpg);
    background-size: cover;
}
#box2-6:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Manualidades.jpg);
    background-size: cover;
}
#box2-7:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Educacion.jpg);
    background-size: cover;
}
#box2-8:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Electronica.jpg);
    background-size: cover;
}
#box2-9:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_PlanificacionEventos.jpg);
    background-size: cover;
}
#box2-10:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Finanzas.jpg);
    background-size: cover;
}
#box2-11:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_ComidaYBebida.jpg);
    background-size: cover;
}
#box2-12:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Vacaciones.jpg);
    background-size: cover;
}
#box2-13:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_DecoracionHogar.jpg);
    background-size: cover;
}
#box2-14:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Jardineria.jpg);
    background-size: cover;
}
#box2-15:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_ModaParaHombre.jpg);
    background-size: cover;
}
#box2-16:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Citas.jpg);
    background-size: cover;
}
#box2-17:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Tatuaje.jpg);
    background-size: cover;
}
#box2-18:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Viajes.jpg);
    background-size: cover;
}
#box2-19:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Vehiculos.jpg);
    background-size: cover;
}
#box2-20:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_Boda.jpg);
    background-size: cover;
}
#box2-21:hover{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/grid2_ModaParaMujere.jpg);
    background-size: cover;
}

.grid3 {
    /* border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: tomato; */
   
    margin:0;
    padding:0;
    width:99%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* min-width: 235px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, 235px);
    grid-auto-rows: 10px;
    justify-content: center;
}


.card_m {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;

    /* width:235px; */
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    /* padding: 2em; */
    margin: 0.3em;
    border-radius: 16px;
    height: 235px;
    grid-row-end: span 27;
}
.card_l {
    background-color: white;
    justify-content:center;
    align-items: center;
    display: flex;
    /* width:235px; */
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    /* padding: 2em; */
    margin: 0.3em;
    border-radius: 16px;
    height: 355px;
    grid-row-end: span 39;
} 
.card_s {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    /* width:235px ; */
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    /* padding: 2em; */
    margin: 0.3em;
    border-radius: 16px;
    height: 167px;
    grid-row-end: span 20;
}

.card_xl {
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    /* width:235px ; */
    /* border-color: black;
    border-width: 2px;
    border-style: solid; */
    /* padding: 2em; */
    margin: 0.3em;
    border-radius: 16px;
    height: 472px;
    grid-row-end: span 51;
}

.card_s img, .card_m img,.card_l img,.card_xl img{
    width: 100%;
  height: auto;
  border-radius: 0.5em;

}
@supports(object-fit: cover){
    .card_s img, .card_m img,.card_l img,.card_xl img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.card_s:hover,.card_m:hover,.card_l:hover,.card_xl:hover{
    filter: brightness(50%);
}

@media (max-width:700px) {
    header {
        padding: 1em;
        font-size: 0.45em;
    }
    .searchbar{
        display: none;
    }
    .galeria1{
        grid-column: span 3;
        height: 158px;
    }
}
@media (max-width:1260px) {
   
    .grid2{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width:1250px) {
   
    .grid2{
    grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width:1000px) {
   
    .grid2{
    grid-template-columns: 1fr 1fr;
    }

}
@media (max-width:720px) {
   
    .grid2{
    grid-template-columns: 1fr;
    
    }
}



@media (max-width:500px) {
   
    *{
        margin: 1em;
    }
    header,nav,.content {
        padding:0;
        margin:0;
        font-size: 0.5em;
    }

}